fieldset
{
	clear:both;
	border-color:lightblue;
	margin-bottom:15px;
	margin-top:-10px;
}

#texto
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-left:1%;
	margin-bottom:15px;
	line-height:35px;
	font-weight:bold;
}

fieldset legend
{
	color:#0088CC;
	font-size:18px;
}