
.tooltip-inner {
	background-color: blue; color: #fff;
}

.pop tbody tr > td, .pop tbody tr:hover > th {

border:0px;

}

 .popover {
 	min-width: 380px;
    
    border-color: transparent;

    width: 90%;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow:after {
  content: "";
}
.popover.bottom .arrow {
  left: 50%;
  border-top-width: 0;

}
.popover.bottom .arrow:after {
  top: 1px;
  border-top-width: 0;

}






