fieldset
{
	clear:both;
	border-color:lightblue;
	margin-bottom:15px;
	margin-top:-10px;
}

fieldset legend
{
	color:#0088CC;
	font-size:18px;
}

.filaPersona
{
	cursor:pointer;
}



.listaDestinatarios
{
	padding-left:5px;
	padding-right:5px;
	margin-right:4px;
	margin-left:4px;
	margin-top:8px;
	margin-bottom:4px;
	width:97%;
}

.detallesEmail
{
	padding-left:5px;
	padding-right:5px;
	margin-right:4px;
	margin-left:4px;
	margin-top:16px;
	margin-bottom:4px;
	width:97%;
}

.tituloPre
{
	float:left;
}

.tituloPreTxt
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-left:4px;
	line-height:35px;
	font-weight:bold;
}

#sinCorreos
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-top:9px;
	margin-left:4px;
	line-height:35px;
	font-weight:bold;
}

.etiqueta
{
	margin-left:30px;
	text-decoration:underline;
	font-weight:bold;
}



.txt2
{
	margin-left:30px;
	margin-bottom:-25px;
}

.tooltip-inner {
	background-color: blue; color: #fff;
}

.pop tbody tr > td, .pop tbody tr:hover > th {

border:0px;

}

 .popover {
 	min-width: 600px;
    
    border-color: transparent;

    width: 90%;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow:after {
  content: "";
}
.popover.bottom .arrow {
  left: 50%;
  border-top-width: 0;

}
.popover.bottom .arrow:after {
  top: 1px;
  border-top-width: 0;

}






