fieldset
{
	clear:both;
	border-color:lightblue;
	margin-bottom:15px;
	margin-top:-10px;
}

fieldset legend
{
	color:#0088CC;
	font-size:18px;
}

fieldset #lista
{
	clear:both;
	border-color:#f0f0f0;
	margin-bottom:15px;
	margin-top:-10px;
}

#contenedorFiltro1
{
	margin-left:1%;
	width:600px;
	margin-bottom:2%;
}

#pcs
{
	clear:both;
}

#contenedorFiltro2
{
	margin-left:1%;
	width:550px;
	float:left;
}

.tableRollOverEffect1
{
	background-color:#848484;
	color:#81DAF5;
}

.tableRowClickEffect1
{
	background-color:#0174DF;
	color:#FFFFFF;
}

.plantilla
{
	margin-top:-10px;
	font-size:10pt;
	color:#666666;
	font-weight:bold;
	font-family:arial, helvetica, sans-serif !important;
}

.prePlantilla
{
	width:60%;
	height:100px;
	margin-top:1%;
	margin-left:1%;
	margin-bottom:1%;
	font-weight:bold;
	font-size:10pt;
	color:#666666;
}

.btn
{
	margin-bottom:20px;
	margin-right:1%;
	float:right;
}
.seleccion
{
	clear:both;
	margin-left:1%;
}

.seleccion select
{
	width:250px;
	color:#0088CC;
	font-size:9pt;
	font-weight:bold;
}

.x
{
	font-size:9pt;
	font-weight:bold;
	color:#666666;
}

#pcs select
{
	color:#0088CC;
	font-size:9pt;
	font-weight:bold;
}

.texto1
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-top:2%;
	margin-left:1%;
	line-height:35px;
	font-weight:bold;
}

.menu
{
	clear:both;
}

.menu2
{
	clear:both;
}

.texto2
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-top:2%;
	margin-left:1%;
	margin-bottom:3%;
	line-height:35px;
	font-weight:bold;
}

.texto3
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-top:1%;
	margin-bottom:2%;
	margin-left:1%;
	line-height:35px;
	font-weight:bold;
}

.texto22
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-top:2-20px;
	margin-left:1%px;
	font-weight:bold;
}

#asunto
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	width:250px;
}

#ck
{
	width:98%;
}

#to
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	width:250px;
}
