.icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    background: url('../img/icons/iconos_upload/txt-icon.gif');
    
}

#filtro1
{
	float:left;
}

.txtLabel
{
	width:180px;
}

.txt100
{
	font-size:10pt;
	color:#666666;
	margin-bottom:15px;
	line-height:35px;
	font-weight:bold;
}

.tituloModal
{
	text-decoration:underline;
}

/*WORD*/
.icon-application-msword,
.icon-application-vnd-openxmlformats-officedocument-wordprocessingml-document,
.icon-docx,
.icon-doc {
	background: url('../img/icons/iconos_upload/doc-icon.gif');
}

/*TXT*/
.icon-text-plain,
.icon-txt {
	background: url('../img/icons/iconos_upload/txt.jpg');
}


/*PDF*/

.icon-application-pdf,
.icon-pdf {
	background: url('../img/icons/iconos_upload/pdf_icon.gif');
}


/*EXCEL*/
.icon-application-vnd-ms-excel,
.icon-application-vnd-openxmlformats-officedocument-spreadsheetml-sheet,
.icon-xls,
.icon-xlsx {
	background: url('../img/icons/iconos_upload/icon_excel.jpg');
}


/*PPT*/
.icon-application-vnd-ms-powerpoint,
.icon-application-vnd-openxmlformats-officedocument-presentationml-presentation,
.icon-ppt,
.icon-pptx {
	background: url('../img/icons/iconos_upload/ppt.png');
}

/*Project*/

.icon-application-vnd-ms-project,
.icon-mpp{
	background: url('../img/icons/iconos_upload/MS-Project.png');
}

/*audio*/

.icon-audio-mp3,
.icon-audio-x-ms-wma,
.icon-audio-mid,
.icon-mid,
.icon-mp3,
.icon-wma  {
	background: url('../img/icons/iconos_upload/icon-itunes.png');
}


/*video*/

.icon-video-mpeg,
.icon-video-x-ms-wmv,
.icon-video-avi,
.icon-avi,
.icon-mp4,
.icon-wmv,
.icon-mpeg {
	background: url('../img/icons/iconos_upload/icon_video16.gif');
}


/*TAR*/
.icon-application-x-gzip,
.icon-application-gzip,
.icon-rar,
.icon-zip,
.icon-gz,
.icon-tar {
	background: url('../img/icons/iconos_upload/rar.gif');
}

/*IMAGENES*/

.icon-image-jpeg,
.icon-image-gif,
.icon-image-png,
.icon-image-x-icon,
.icon-ico,
.icon-png,
.icon-jpg,
.icon-gif {
	background: url('../img/icons/iconos_upload/img_icon.gif');
}

/*HTML*/

.icon-text-html,
.icon-html{
	background: url('../img/icons/iconos_upload/html.jpg');
}

/*CSS*/

.icon-text-css,
.icon-css{
	background: url('../img/icons/iconos_upload/css-icon-md.png');
}

/*Javascrip*/

.icon-application-x-javascript,
.icon-js{
	background: url('../img/icons/iconos_upload/javascript.png');
}

/*EXE*/

.icon-application-x-msdownload,
.icon-exe{
	background: url('../img/icons/iconos_upload/button_exe.png');
}



#dropzone {
    background: #E0f8f7;
    width: 150px;
    height: 30px;
    text-align: center;
    font-weight: bold;

}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: #0088CC;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

#contenedorFiltro1
{
	margin-left:1%;
	width:600px;
	margin-bottom:2%;
}

#group
{
	width:100%;
}

#pcs
{
	clear:both;
}

#contenedorFiltro2
{
	margin-left:1%;
	width:550px;
	float:left;
}

#seleccionPlantilla
{
	clear:both;
}

.separador
{
	clear:both;
	margin-top:30px;
}

.tableRollOverEffect1
{
	background-color:#848484;
	color:#81DAF5;
}

.tableRowClickEffect1
{
	background-color:#0174DF;
	color:#FFFFFF;
}

#msjOk
{
	margin-left:0;
	padding-top:15px;
	padding-left:20px;
	padding-right:15px;
	padding-bottom:6px;
	font-size:10pt;
	font-weight:bold;
	margin-bottom:25px;
}

#btnMsjOk
{
	margin-right:1%;
	padding-right:10px;
	padding-top:3px;
}

.plantilla
{
	margin-top:-10px;
	font-size:10pt;
	color:#666666;
	font-weight:bold;
	font-family:arial, helvetica, sans-serif !important;
}

.prePlantilla
{
	width:60%;
	height:100px;
	margin-top:1%;
	margin-left:1%;
	margin-bottom:1%;
	font-weight:bold;
	font-size:10pt;
	color:#666666;
}

.abc
{
	width:50px;
	margin-bottom:20px;
}

.btnX
{
	float:right;
	margin-bottom:20px;
}

.btnXX
{
	float:right;
	margin-bottom:10px;
}

.btns
{
	float:right;
}

#btnAnterior
{
	margin-right:20px;
}

#enviando
{
	position:relative;
	z-index:3;
	top:110px;
	margin-bottom:10px;
	left:0px; width:100%;
	height:70px;
	text-align:center;
}

#enviando2
{
	position:relative;
	z-index:3;
	top:90px;
	margin-bottom:180px;
	left:0px;
	width:100%;
	height:100px;
	text-align:center;
}

.botonera
{
	margin-bottom:0px;
}

.seleccion
{
	clear:both;
	margin-left:1%;
}

.seleccion select
{
	width:250px;
	color:#0088CC;
	font-size:9pt;
	font-weight:bold;
}

.grupo
{
	margin-bottom:0px;
}

.x
{
	font-size:9pt;
	font-weight:bold;
	color:#666666;
}

#pcs select
{
	color:#0088CC;
	font-size:9pt;
	font-weight:bold;
}

.texto1
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-top:2%;
	margin-left:1%;
	line-height:35px;
	font-weight:bold;
}

.menu
{
	clear:both;
}

.menu2
{
	clear:both;
}

.texto2
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-top:2%;
	margin-left:1%;
	margin-bottom:3%;
	line-height:35px;
	font-weight:bold;
}

.texto3
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-top:1%;
	margin-bottom:2%;
	margin-left:1%;
	line-height:35px;
	font-weight:bold;
}

.texto22
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-top:2-20px;
	margin-left:1%px;
	font-weight:bold;
}

#asunto
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	clear:both;
	width:400px;
}

#contenedorLista
{
	margin-top:20px;
}

#lista
{
	border: #CCCCCC 1px solid;
	overflow-y:auto;
	height:185px;
	width:582px;
	-webkit-border-radius:4px;
	float:left;
	background-color:#FCFCFC;
}

#lista table
{
	background-color:white;
	margin-bottom:0px;
}

#lista tr
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
}

#lista td
{
	cursor:pointer;
	padding-left:15px;
	border-top:0px solid white;
	border-bottom:1px solid #DDDDDD;
	width:582px;
	height:35px;
}

#to
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	width:400px;
}

.txttt
{
	font-size:10pt;
	line-height:35px;
	font-weight:bold;
	margin-left:1%;
}

.fila
{
	margin-bottom:-30px;
}

.txttt2
{
	clear:both;
	font-size:10pt;
	line-height:35px;
	font-weight:bold;
}

.txttt5
{
	font-size:10pt;

	line-height:50px;
	font-weight:bold;
	float:left;
	margin-bottom:-20px;
	float:left;
}

.txttt4
{
	clear:both;
	font-size:10pt;
	line-height:35px;
	font-weight:bold;
	margin-bottom:12px;
}

.txttt3
{
	clear:both;
	font-size:10pt;
	font-weight:bold;
	cursor:pointer;
}

.letras
{
	margin-right:10px;
	line-height:25px;
	float:left;
	text-decoration:underline;
}

.bloque
{
	margin-bottom:30px;
	color:#666666;
	cursor:default;
	font-size:11pt;
	font-weight:bold;
}


#filtrosSelect input
{
	width:350px;
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	margin-bottom:30px;
}

#filtrosSelect select
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	margin-bottom:20px;
	padding:7px;
}

#filtrosSelect
{
	margin-bottom:20px;
}

#listaResultadosFiltro
{
	border:#CCCCCC 1px solid;
	-webkit-border-radius:4px;
	height:298px;
	background-color:#FCFCFC;
	width:42%;
}
 /*BYRON ESTO ES PARA ESO*/
tbody {
    height: 290px;
    overflow: auto;
}
thead > tr, tbody{
    display:block;
}

#listaResultadosFiltro checkbox
{
	vertical-align:middle;
}

#listaResultadosFiltro table
{
	background-color:white;
	margin-bottom:0px;
	border-top:white 0px solid;
	border-bottom:white 0px solid;
	height:290px;
}

#listaResultadosFiltro th
{
	font-size:10pt;
	font-weight:bold;
	cursor:pointer;
	border-top:0px solid white;
	border-left:0px solid white;
	border-bottom:1px solid #DDDDDD;
	background-color:lightblue;
}

#listaResultadosFiltro tr
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
}

#listaResultadosFiltro td
{
	cursor:pointer;
	border-top:0px solid white;
	border-left:0px solid white;
	border-bottom:1px solid #DDDDDD;
}

#check
{
	padding-left:12px;
	border-right:1px solid #DDDDDD;
	vertical-align:middle;
	padding-top:1%;
}

#allcheck
{
	padding-left:12px;
	padding-right:12px;
	padding-bottom:12px;
	border-right:1px solid #DDDDDD;
	line-height:10px;
}

#opcion
{
	padding-left:15px;
}

#txtTodos
{
	padding-left:15px;
	width:100%;
}

#botoneraCentral
{
	padding-top:100px;
	width:11.5%;
}

#txtTodosDestino
{
	padding-left:15px;
	width:100%;
}

#listaDestinatarios
{
	border:#CCCCCC 1px solid;
	overflow-y:auto;
	-webkit-border-radius:4px;
	height:298px;
	background-color:#FCFCFC;
	margin-bottom:20px;
	width:42%;
}

#listaDestinatarios table
{
	background-color:white;
	margin-bottom:0px;
	border-top:white 0px solid;
	border-bottom:white 0px solid;
}

#listaDestinatarios th
{
	font-size:10pt;
	font-weight:bold;
	cursor:pointer;
	border-top:0px solid white;
	border-left:0px solid white;
	border-bottom:1px solid #DDDDDD;
	background-color:lightblue;
}

.boton
{
	clear:both;
}

#form_contactos
{
	float:right;
}

#form_contactos input
{
	float:left;
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	width:50%;
	margin-right:1%;
}

#listaDestinatarios tr
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
}

#listaDestinatarios td
{
	cursor:pointer;
	border-top:0px solid white;
	border-left:0px solid white;
	border-bottom:1px solid #DDDDDD;
}

#contenedorEditor
{
	clear:both;
}

.contenedor
{
	padding:20px 30px 0px 30px;
}

#contenedorEnvio
{
	padding:20px 30px 0px 30px;
}

#mostrarPlantillas
{
	width:160px;
	margin-bottom:15px;
}

#ocultarPlantillas
{
	width:160px;
	margin-bottom:15px;
}