.icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    
}

/*WORD*/
.icon-application-msword {
background: url('../img/doc-icon.gif');
}

.icon-application-vnd-openxmlformats-officedocument-wordprocessingml-document {
background: url('../img/doc-icon.gif');
}
/*TXT y no definidos*/
.icon-text-plain {
background: url('../img/txt-icon.gif');
}

.icon- {
background: url('../img/txt-icon.gif');
}

/*PDF*/

.icon-application-pdf {
background: url('../img/pdf_icon.gif');
}


/*EXCEL*/
.icon-application-vnd-ms-excel {
background: url('../img/icon_excel.jpg');
}
.icon-application-vnd-openxmlformats-officedocument-spreadsheetml-sheet {
background: url('../img/icon_excel.jpg');
}


/*PPT*/
.icon-application-vnd-ms-powerpoint {
background: url('../img/ppt.png');
}
.icon-application-vnd-openxmlformats-officedocument-presentationml-presentation {
background: url('../img/ppt.png');
}

/*audio*/
.icon-audio-x-ms-wma {
background: url('../img/icon-itunes.png');
}
.icon-audio-mp3 {
background: url('../img/icon-itunes.png');
}
.icon-video-x-ms-wmv {
background: url('../img/icon-itunes.png');
}
/*video*/
.icon-video-avi {
background: url('../img/icon_video16.gif');
}
.icon-video-mpeg {
background: url('../img/icon_video16.gif');
}
/*TAR*/
.icon-application-x-gzip {
background: url('../img/rar.gif');
}

/*IMAGENES*/
.icon-image-png {
background: url('../img/img_icon.gif');
}

.icon-image-jpeg {
background: url('../img/img_icon.gif');
}
.icon-image-gif {
background: url('../img/img_icon.gif');
}

#dropzone {
    background: #E0f8f7;
    width: 150px;
    height: 30px;
    text-align: center;
    font-weight: bold;

}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: #0088CC;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

#contenedorFiltro1
{
	margin-left:1%;
	width:600px;
	margin-bottom:2%;
}

#group
{
	width:100%;
}

#pcs
{
	clear:both;
}

#contenedorFiltro2
{
	margin-left:1%;
	width:550px;
	float:left;
}

#seleccionPlantilla
{
	clear:both;
}

.tableRollOverEffect1
{
	background-color:#848484;
	color:#81DAF5;
}

.tableRowClickEffect1
{
	background-color:#0174DF;
	color:#FFFFFF;
}

#msjOk
{
	margin-left:0;
	padding-top:15px;
	padding-left:20px;
	padding-right:15px;
	padding-bottom:6px;
	font-size:10pt;
	font-weight:bold;
	margin-bottom:25px;
}

#btnMsjOk
{
	margin-right:1%;
	padding-right:10px;
	padding-top:3px;
}

.plantilla
{
	margin-top:-10px;
	font-size:10pt;
	color:#666666;
	font-weight:bold;
	font-family:arial, helvetica, sans-serif !important;
}

.prePlantilla
{
	width:60%;
	height:100px;
	margin-top:1%;
	margin-left:1%;
	margin-bottom:1%;
	font-weight:bold;
	font-size:10pt;
	color:#666666;
}

.abc
{
	width:50px;
	margin-bottom:20px;
}

.btnX
{
	float:right;
	margin-bottom:20px;
}

.btnXX
{
	float:right;
	margin-bottom:10px;
}

.btns
{
	float:right;
}

#btnAnterior
{
	margin-right:20px;
}

#enviando
{
	position:relative;
	z-index:3;
	top:110px;
	margin-bottom:10px;
	left:0px; width:100%;
	height:70px;
	text-align:center;
}

#enviando2
{
	position:relative;
	z-index:3;
	top:90px;
	margin-bottom:180px;
	left:0px;
	width:100%;
	height:100px;
	text-align:center;
}

.botonera
{
	margin-bottom:0px;
}

.seleccion
{
	clear:both;
	margin-left:1%;
}

.seleccion select
{
	width:250px;
	color:#0088CC;
	font-size:9pt;
	font-weight:bold;
}

.grupo
{
	margin-bottom:0px;
}

.x
{
	font-size:9pt;
	font-weight:bold;
	color:#666666;
}

#pcs select
{
	color:#0088CC;
	font-size:9pt;
	font-weight:bold;
}

.texto1
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-top:2%;
	margin-left:1%;
	line-height:35px;
	font-weight:bold;
}

.menu
{
	clear:both;
}

.menu2
{
	clear:both;
}

.texto2
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-top:2%;
	margin-left:1%;
	margin-bottom:3%;
	line-height:35px;
	font-weight:bold;
}

.texto3
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-top:1%;
	margin-bottom:2%;
	margin-left:1%;
	line-height:35px;
	font-weight:bold;
}

.texto22
{
	font-size:10pt;
	color:#666666;
	float:left;
	margin-top:2-20px;
	margin-left:1%px;
	font-weight:bold;
}

#asunto
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	clear:both;
	width:400px;
}

#contenedorLista
{
	float:left;
}

#contenedorBusquedaFiltro
{
	margin-left:10%;
	float:left;
}

#busquedaPlantilla 
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	margin-bottom:30px;
	margin-left:1%;
	clear:both;
}

#tipoBusqueda
{
	color:white;
	font-size:9pt;
	font-weight:bold;
	margin-bottom:30px;
	margin-left:1%;
	clear:both;
	background-color:lightblue;
}

#lista
{
	border: #CCCCCC 1px solid;
	overflow-y:auto;
	height:185px;
	width:420px;
	-webkit-border-radius:4px;
	float:left;
	background-color:#FCFCFC;
}

#lista table
{
	background-color:white;
	margin-bottom:0px;
}

#lista tr
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
}

#lista td
{
	cursor:pointer;
	padding-left:15px;
	border-top:0px solid white;
	border-bottom:1px solid #DDDDDD;
}

#to
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	width:400px;
}

.txt
{
	font-size:10pt;
	color:#0088CC;
	line-height:35px;
	font-weight:bold;
	margin-left:1%;
}

.fila
{
	margin-bottom:-30px;
}

.txt2
{
	clear:both;
	font-size:10pt;
	color:#0088CC;
	line-height:35px;
	font-weight:bold;
}

.txt5
{
	font-size:10pt;
	color:#0088CC;
	line-height:50px;
	font-weight:bold;
	float:left;
	margin-bottom:-20px;
	float:left;
}

.txt4
{
	clear:both;
	font-size:10pt;
	color:#0088CC;
	line-height:35px;
	font-weight:bold;
	margin-bottom:12px;
}

.txt3
{
	clear:both;
	font-size:10pt;
	color:#0088CC;
	font-weight:bold;
	cursor:pointer;
}

.letras
{
	margin-right:10px;
	line-height:25px;
	float:left;
	text-decoration:underline;
}

.bloque
{
	margin-bottom:30px;
	color:#666666;
	cursor:default;
	font-size:11pt;
	font-weight:bold;
}


#filtrosSelect input
{
	width:350px;
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	margin-bottom:30px;
}

#filtrosSelect select
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	margin-bottom:20px;
	padding:7px;
}

#filtrosSelect
{
	margin-bottom:20px;
}

#listaResultadosFiltro
{
	border:#CCCCCC 1px solid;
	-webkit-border-radius:4px;
	height:298px;
	background-color:#FCFCFC;
	width:42%;
}
 /*BYRON ESTO ES PARA ESO*/
tbody {
    height: 290px;
    overflow: auto;
}
thead > tr, tbody{
    display:block;
}

#listaResultadosFiltro checkbox
{
	vertical-align:middle;
}

#listaResultadosFiltro table
{
	background-color:white;
	margin-bottom:0px;
	border-top:white 0px solid;
	border-bottom:white 0px solid;
	height:290px;
}

#listaResultadosFiltro th
{
	font-size:10pt;
	font-weight:bold;
	cursor:pointer;
	border-top:0px solid white;
	border-left:0px solid white;
	border-bottom:1px solid #DDDDDD;
	background-color:lightblue;
}

#listaResultadosFiltro tr
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
}

#listaResultadosFiltro td
{
	cursor:pointer;
	border-top:0px solid white;
	border-left:0px solid white;
	border-bottom:1px solid #DDDDDD;
}

#check
{
	padding-left:12px;
	border-right:1px solid #DDDDDD;
	vertical-align:middle;
	padding-top:1%;
}

#allcheck
{
	padding-left:12px;
	padding-right:12px;
	padding-bottom:12px;
	border-right:1px solid #DDDDDD;
	line-height:10px;
}

#opcion
{
	padding-left:15px;
}

#txtTodos
{
	padding-left:15px;
	width:100%;
}

#botoneraCentral
{
	padding-top:100px;
	width:11.5%;
}

#txtTodosDestino
{
	padding-left:15px;
	width:100%;
}

#listaDestinatarios
{
	border:#CCCCCC 1px solid;
	overflow-y:auto;
	-webkit-border-radius:4px;
	height:298px;
	background-color:#FCFCFC;
	margin-bottom:20px;
	width:42%;
}

#listaDestinatarios table
{
	background-color:white;
	margin-bottom:0px;
	border-top:white 0px solid;
	border-bottom:white 0px solid;
}

#listaDestinatarios th
{
	font-size:10pt;
	font-weight:bold;
	cursor:pointer;
	border-top:0px solid white;
	border-left:0px solid white;
	border-bottom:1px solid #DDDDDD;
	background-color:lightblue;
}

.boton
{
	clear:both;
}

#form_contactos
{
	float:right;
}

#form_contactos input
{
	float:left;
	color:#666666;
	font-size:9pt;
	font-weight:bold;
	width:50%;
	margin-right:1%;
}

#listaDestinatarios tr
{
	color:#666666;
	font-size:9pt;
	font-weight:bold;
}

#listaDestinatarios td
{
	cursor:pointer;
	border-top:0px solid white;
	border-left:0px solid white;
	border-bottom:1px solid #DDDDDD;
}

#contenedorEditor
{
	clear:both;
}

.contenedor
{
	padding:20px 30px 0px 30px;
}

#contenedorEnvio
{
	padding:20px 30px 0px 30px;
}

#mostrarPlantillas
{
	width:160px;
	margin-bottom:15px;
}

#ocultarPlantillas
{
	width:160px;
	margin-bottom:15px;
}