.faqs h4	{ cursor:pointer; padding-bottom: 10px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: rgb(155, 155, 155);}
.faqs h4.active	{ color :  rgba(30,87,153,1);}
.faqs div p { text-align:justify; max-width: 100%; padding-bottom: 15px; margin-left: 30px; margin-right: 20px; line-height: 35px;}
.faqs div {display: none;}