/* Acá se muestran datos de los css personalizados, para así no editar el archivo bootstrap.css */

.click_lista{
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 22px;
}

.boton-usuario {
     border-right-width: 1px;
     padding-right: 22px;
}

.banner {
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
    width: 100%;
	height:160px;
 
}

.barra_navegacion {
	/*
	color: rgb(51, 51, 51);
	background-color: rgb(245, 245, 245);
	background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230));
	border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(179, 179, 179);
	background-repeat: repeat-x;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px 4px 4px 4px; */
	width: 80px;
	height: 30px;
	text-align: center;
}



.navbar.barra_usuario {
	margin-bottom: 0px;
}
.nav.botones_barra_usuario {
	margin-right:10px;
}
/*
.nav-tabs.barra_superior {
	border-bottom: 0px;
	background: rgb(254,182,69,1);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(254,182,69,1)) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(254,182,69,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,182,69,1)) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,182,69,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,182,69,1) 100%); 
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(254,182,69,1) 100%);
}


.navbar.barra_superior {
	display: none;
	float: right;
	padding: 7px 10px;
	margin-left: 5px;
	margin-right: 5px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #ededed;
	background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
	background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
	background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
	border-color: #e5e5e5 #e5e5e5 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #e5e5e5;

	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
	background-color: rgba(254,182,69,1);
}

.barra_superior_gradiente {
	width:100%;
	margin-top: -20px;
	height: 40px;
	color: #555555;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(254,182,69,1) 0%, rgba(255,255,255,1)) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,182,69,1)), color-stop(100%,rgba(255,255,255,1))); 
	background: -webkit-linear-gradient(top,  rgba(254,182,69,1) 0%,rgba(255,255,255,1)) 100%); 
	background: -o-linear-gradient(top,  rgba(254,182,69,1) 0%,rgba(255,255,255,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(254,182,69,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(254,182,69,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 );
}

.barra_superior > .active > a,
.barra_superior > .active > a:hover,
.barra_superior  > .active > a:focus {
  color: #555555;
  background: rgb(241,231,103);
  background: -moz-linear-gradient(top,  rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,231,103,1)), color-stop(100%,rgba(254,182,69,1)));
  background: -webkit-linear-gradient(top,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%);
  background: -o-linear-gradient(top,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); 
  background: -ms-linear-gradient(top,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%);
  background: linear-gradient(to bottom,  rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 );

  border: 0px solid #FF8000; 
  border-bottom-color: transparent;
  cursor: default;
}

.barra_superior > li > a,
.barra_superior > li > a {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 1px;
  line-height: 14px;
  background: rgb(246,230,180); 
  background: -moz-linear-gradient(top,  rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,230,180,1)), color-stop(100%,rgba(237,144,23,1)));
  background: -webkit-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); 
  background: -o-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); 
  background: -ms-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
  background: linear-gradient(to bottom,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 );
  border: 0px solid #ddd; 
}


.navbar .btn-navbar.barra_superior {
	display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
  border-color: #e5e5e5 #e5e5e5 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e5e5e5;

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
}
*/
.container-barra_usuario {
	position: absolute;
}

.icon_menu_superior {
	width:32px;
	height:32px;
}

.btn.btn_sin_padding {
	padding: 0 !important;
}

footer {
	font-size: 10px;
	margin-top:-40px;
	height: 40px;
	text-align: center;
}

.icon_footer {
	width: 15px;
	height: 15px;
}

#wrap {
	min-height:575px;
	height: 95%;
}

@font-face{
font-family: 'MyWebFont';
	src: url('/manteka/css/WebFont.eot');
	src: url('/manteka/css/WebFont.eot?#iefix') format('embedded-opentype'),
	url('/manteka/css/WebFont.woff') format('woff'),
	url('/manteka/css/WebFont.ttf') format('truetype'),
	url('/manteka/css/WebFont.svg#webfont') format('svg');
}

.btn_with_icon:first-letter {
	font-family: MyWebFont,Serif ! important;
	font-size: 30px ! important;
	line-height: 10px ! important;
	vertical-align: middle;
}
.btn_with_icon_solo{
	font-family: MyWebFont,Serif ! important;
	font-size: 30px ! important;
	line-height: 10px ! important;
	vertical-align: middle;
}

.btn_with_icon_solo_footer{
	font-family: MyWebFont,Serif ! important;
	font-size: 20px ! important;
	line-height: 10px ! important;
	vertical-align: middle;
	color: gray;
}
